html {
    background-image: url("greenwallpaper.jpg");
    background-size: cover;

}

.r1 {
    background-color: pink;
    border: none;
    color: black;
    padding: 15px 32px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#header {
    color: white; 
    font-family: 'Rouge Script', cursive;
    font-size: 65px;
    font-weight: bold;
    letter-spacing: 10px;
    line-height: 1;
    margin-left: 275px;

}

#SearchButton {
    opacity: 0;
}

#SearchBox {
    margin-left: 275px;
    margin-right: 275px;
    margin-top: auto;
    margin-bottom: auto;
    opacity: 0.5;
    width: 50%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */

    font-size: 30px;
    cursor: text;
}
.navbar {
    background: linear-gradient(to bottom right, lightcyan, MediumAquaMarine );
    opacity: 0.5;
    overflow: hidden;
    width: 300px;
    justify-content: space-between;
}

.navbar a {
  float:left;
  font-size: 16px;
  font-family: 'Sofia';
  margin:10px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: static;  
}
.navbar a:hover,.dropdown:hover .dropbtn  {
    background-color: lightcyan;
}
.dropdown {
  float: left;
  overflow: hidden;
  font-family: 'Sofia';
}
.dropdown .dropbtn {
  font-size: 16px;
  color: black;
  padding: 14px 16px;
  border: none;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 10px; /* Important for vertical align on mobile phones */
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: MediumAquaMarine;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.dropdown-content a:hover {
  background: linear-gradient(to right, aqua, white);;
}
.dropdown:hover .dropdown-content {
  display: block;
}
